@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Earthy Luxury Palette (Literal Names) */
    --color-bone: #FAF9F6;
    --color-espresso: #2C2A29;
    --color-sand: #D6CFC7;
    --color-sage: #5D6D58;

    /* Semantic Names (Alias) */
    --color-primary: var(--color-espresso);   /* Untuk Tombol Utama & Teks */
    --color-secondary: var(--color-sand);     /* Untuk Border & Elemen Sekunder */
    --color-accent: var(--color-sage);        /* Untuk Badge / Diskon */
}
